### AWS RDS Secret Template
# Generate actual file with: envsubst < rds-secret.yaml.template > rds-secret.yaml

apiVersion: v1
kind: Secret

metadata:
  name: rds-secret
  namespace: dspm

type: Opaque
data:
  # Values substituted from environment variables
  username: ${RDS_USERNAME_B64}
  password: ${RDS_PASSWORD_B64}
  url: ${RDS_URL_B64}